@model back_endEjemplo1.Models.OperasBas

@{
    ViewBag.Title = "Operacion";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label for="num1">Número 1</label>
                <input type="text" name="num1" value="" />
                <br />
                <label for="num2">Número 2</label>
                <input type="text" name="num2" value="" />
                <br />
                <input type="submit" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h2>@Model.res</h2>
        </div>
    </div>
</div>



